.main {
    display: flex;
    gap: 15px;
    background: #FFF;
    max-width: 1820px;
    max-height: 3067px;
    margin: 40px 100px;
}
.shape-1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    background-image: url("Flower Asset/pngwing\ 6.png");
    background-repeat: no-repeat;
    background-position: center;
    /* display: block; */

}
.shape-2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    background-image: url("Flower Asset/pngwing\ 5.png");
    background-repeat: no-repeat;
    background-position: center;
    /* display: block; */

}
.shape-3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    background-image: url("Flower Asset/pngwing\ 7.png");
    background-repeat: no-repeat;
    background-position: center;
    /* display: block; */

}
/* .shape-title {
    display: block;
    
}
.flower-name {
    text-align: left;
    margin-left: 0px;
} */
.title {
    text-align: center;
    text-decoration: underline;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
}
.shape-title {
    color: #272727;
    text-align: center;
    /* font-family: Lato; */
    font-size: 40px;
    /* font-style: normal; */
    font-weight: 800;
    /* line-height: normal; */
}
.shape-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
/* Shape section with title-description complete */
/* Now Start sign up with title description & photo. Ok */
.sign-up-section-container {
    max-width: 1920px;
    max-height: 610px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}
.sign-up-title {
    color: #272727;
    /* font-family: Lato; */
    font-size: 40px;
    /* font-style: normal; */
    font-weight: 800;
    /* line-height: normal; */
}
.sign-up-section-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding-top: 80px;

}
.sign-up-paragraph {
    color: rgba(39, 39, 39, 0.60);
/* text-align: center; */
    font-family: Lato;
    font-size: 18px;
/* font-style: normal; */
    font-weight: 400;
/* line-height: 30px; */
}
.sign-title-details-btn {
    text-align: center;
    margin: 0px 15px;
    /* padding: 20px; */
    padding-top: 25px;
}
/* Sign-up-section complete  */
.section-title {
    color: #272727;
    /* font-family: Lato; */
    font-size: 40px;
    /* font-style: normal; */
    font-weight: 800;
    /* line-height: normal; */
}
.section-descriptin {
    color: rgba(39, 39, 39, 0.60);
/* text-align: center; */
    font-family: Lato;
    font-size: 18px;
/* font-style: normal; */
    font-weight: 400;
/* line-height: 30px; */
}
.insta-section-container {
    text-align: center;
    background: #FFF;
    max-width: 1910px;
    max-height: 3066px;
    margin: 126px 230px;
}
.photo-container {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}
.flex-photo {
    width: 342px;
    height: 396px;
    /* flex-shrink: 0; */
}
/* Instagram - section work maximum complete  */
.contact-section {
    margin: 128px 220px;
    margin-right: 220px;
    /* max-width: 1910px;
    max-height: 3066px; */
    width: 1430px;
    height: 440px;
    border-radius: 8px;
    background-image: url("./Flower Asset/Rectangle\ 9.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.contact-form input[type="email"] {
    display: inline;
    /* margin-bottom: 25px; */
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 40%;
}
.section-footer {
    max-width: 1920px;
    height: 240px;
    background: #111010;
    padding: 140px 0px;
    /* padding: 127px 640px; */
    text-align: center;
}
.footer-title-1 {
    color: #E55473;
}
.footer-title-2{
    color: #FFF;
}
.footer-p {
    color: rgba(255, 255, 255, 0.90);
}
.footer-copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    /* font-family: Lato; */
    font-size: 16px;
    /* font-style: normal; */
    font-weight: 400;
    /* line-height: normal; */
}